:root {
    --header_height: 50px;
    --footer_height: 20px;
    --sidebar_width: 220px;
    --bg_1: #27272b;
    --bg_2: #232327;
    --bg_3: #2c2c31;
    --font_0: #d7d7d8;
    --font_1: #d6d6d9;
    --font_2: #696969;
    --border_0: black;
    --fontSalomon: #c19c90;
    --fontBlue: #3A76AA;
    --fontViolet: #988cca;
    --fontYellow: #c9ac57;
    --fontOrange: #cb7832;
    --fontRed: #e9553b;
    --fontGreen: #6a8759;
    --text-shadow: 0.1em 0.1em black;
}

@font-face {
    font-family: 'ZillaSlabRegular';
    src: url(./fonts/ZillaSlab-Regular.ttf);
}

@font-face {
    font-family: 'ZillaSlabMedium';
    src: url(./fonts/ZillaSlab-Medium.ttf);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ZillaSlabRegular';
}

body {
    display: flex;
    justify-content: center;
    max-width: 50em;
    margin: 2em auto auto auto;
    background: var(--bg_1);
    color: var(--font_0);
    font-size: 1.2rem;
    overflow: hidden;
}

label {
    color: var(--fontGreen);
}

input,
textarea {
    width: 100%;
    color: var(--font_2);
    background: var(--bg_3);
    border: 1px solid var(--border_0);
    line-height: 1.5em;
    font-size: 1em;
}

a,
a:visited {
    text-decoration: none;
    color: var(--fontBlue);
}

a:hover {
    color: var(--fontViolet);
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--sidebar_width);
    background: var(--bg_3);
    z-index: 2;
}

.sidebar h2 {
    margin: -.2em 0 .6em .25em;
}

.sidebar h2 img {
    position: relative;
    top: .35em;
    margin-right: .5em;
}

.sidebar li {
    list-style: none;
    line-height: 1.5em;
    cursor: pointer;
    padding-left: .5em;
}

.sidebar li:hover {
    color: var(--fontBlue);
}

.content {
    position: absolute;
    top: 0;
    left: var(--sidebar_width);
    height: 100vh;
    width: calc( 100% - var(--sidebar_width));
    padding: 1em;
    overflow-y: scroll;
}

.header {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header_height);
    background: var(--bg_3);
}

.header h2 {
    margin: -.6em 0 .6em .25em;
}

.header h2 img {
    position: relative;
    top: .6em;
    margin-right: .5em;
    height: var(--header_height);
}

@media (max-width:600px) {
    .header {
        display: flex;
        justify-content: space-between;
        z-index: 3;
    }
    .sidebar {
        top: 0;
        left: calc( -1 * var(--sidebar_width));
    }
    .sidebar h2 {
        visibility: hidden;
    }
    .sidebar.overlay {
        left: 0;
    }
    .content {
        left: 0;
        top: var(--header_height);
        width: 100%;
    }
}


/* outline: black solid 1px; */


/* box-shadow: 4px 4px 0 black; */

.action {
    display: flex;
    justify-content: space-around;
    margin-top: -.5em;
    margin-bottom: .5em;
    padding-top: .5em;
    border-top: 1px solid black;
    padding-bottom: .5em;
    border-bottom: 1px solid black;
}

.action span {
    padding: .4em;
    margin-right: .9em;
    font-size: .7em;
    border: 1px solid var(--border_0);
    cursor: pointer;
    background: var(--bg_3);
    border-radius: .5em;
    font-family: 'ZillaSlabRegular';
}

.action span:hover {
    background: var(--bg_2);
    /* border: 1px solid var(--fontBlue); */
    font-family: 'ZillaSlabMedium';
}


/*
//  
//  ##     ##    ###    ##     ## ########  ##     ## ########   ######   ######## ########
//  ##     ##   ## ##   ###   ### ##     ## ##     ## ##     ## ##    ##  ##       ##     ##
//  ##     ##  ##   ##  #### #### ##     ## ##     ## ##     ## ##        ##       ##     ##
//  ######### ##     ## ## ### ## ########  ##     ## ########  ##   #### ######   ########
//  ##     ## ######### ##     ## ##     ## ##     ## ##   ##   ##    ##  ##       ##   ##
//  ##     ## ##     ## ##     ## ##     ## ##     ## ##    ##  ##    ##  ##       ##    ##
//  ##     ## ##     ## ##     ## ########   #######  ##     ##  ######   ######## ##     ##
//  
*/

.hamburger {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 4px;
    transition: border-radius .5s;
    margin-right: 1em;
}

.line {
    padding: .1em;
    border: 1px solid var(--font_2);
    cursor: pointer;
    background: var(--bg_1);
    border-radius: .5em;
    position: absolute;
    left: 10px;
    height: 4px;
    width: 45px;
    display: block;
    transition: 0.5s;
    transform-origin: center;
}

.line:nth-child(1) {
    top: 12px;
}

.line:nth-child(2) {
    top: 24px;
}

.line:nth-child(3) {
    top: 36px;
}

.hamburger.checked .line:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
}

.hamburger.checked .line:nth-child(2) {
    opacity: 0;
}

.hamburger.checked .line:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}


/*
//  
//  ######## ########  #### ########  #######  ########
//  ##       ##     ##  ##     ##    ##     ## ##     ##
//  ##       ##     ##  ##     ##    ##     ## ##     ##
//  ######   ##     ##  ##     ##    ##     ## ########
//  ##       ##     ##  ##     ##    ##     ## ##   ##
//  ##       ##     ##  ##     ##    ##     ## ##    ##
//  ######## ########  ####    ##     #######  ##     ##
//  
*/

.ck.ck-editor__editable {
    border: none;
    padding: 1px 0 0 0!important;
}

.ck.ck-toolbar {
    background: var(--bg_1)!important;
    padding: 0 var(--ck-spacing-small);
    border: 1px solid rgb(26, 26, 26)!important;
}

.ck.ck-reset_all,
.ck.ck-reset_all * {
    border-collapse: collapse;
    font: normal normal normal var(--ck-font-size-base)/var(--ck-line-height-base) var(--ck-font-face);
    color: var(--font_0)!important;
    text-align: left;
    white-space: nowrap;
    cursor: auto;
    float: none;
}

.ck.ck-list {
    list-style-type: none;
    background: var(--bg_1)!important;
}

.ck.ck-button:not(.ck-disabled):hover,
a.ck.ck-button:not(.ck-disabled):hover,
.ck.ck-list__item .ck-button:hover:not(.ck-disabled) {
    background: var(--bg_2);
}

.ck.ck-button.ck-on,
a.ck.ck-button.ck-on {
    background: var(--bg_1);
    color: var(--fontBlue);
}


/*
//  
//   ######   #######  ######## ########  ######
//  ##    ## ##     ##    ##    ##       ##    ##
//  ##       ##     ##    ##    ##       ##
//  ##       ##     ##    ##    ######    ######
//  ##       ##     ##    ##    ##             ##
//  ##    ## ##     ##    ##    ##       ##    ##
//   ######   #######     ##    ########  ######
//  
*/

#editor h2 {
    margin-top: -.4em;
}