:root {
    --header_full_height: 60px;
    --header_small_height: 50px;
    --footer_height: 20px;
    --sidebar_full_width: 220px;
    --sidebar_small_width: 50px;
    --bg_1: #27272b;
    --bg_2: #232327;
    --bg_3: #2c2c31;
    --font_0: #d7d7d8;
    --font_1: #d6d6d9;
    --font_2: #696969;
    --border_0: black;
    --fontSalomon: #c19c90;
    --fontBlue: #3A76AA;
    --fontViolet: #988cca;
    --fontYellow: #c9ac57;
    --fontOrange: #cb7832;
    --fontRed: #e9553b;
    --fontGreen: #6a8759;
    --text-shadow: 0.1em 0.1em black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    max-width: 50em;
    margin: 2em auto auto auto;
    background: var(--bg_1);
    color: var(--font_0);
    font-size: 1.2rem;
}

label {
    color: var(--fontGreen);
}

input,
textarea {
    width: 100%;
    color: var(--font_2);
    background: var(--bg_3);
    border: 1px solid var(--border_0);
    line-height: 1.5em;
    font-size: 1em;
}

a,
a:visited {
    text-decoration: none;
    color: var(--fontBlue);
}

a:hover {
    text-decoration: dotted;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header_full_height);
    background: var(--bg_3);
}

.header img {
    height: var(--header_full_height);
}

.sidebar {
    position: absolute;
    top: var(--header_full_height);
    left: 0;
    height: calc(100vh - var(--header_full_height));
    width: var(--sidebar_full_width);
    background: var(--bg_3);
    padding-left: .5em;
}

.sidebar h2 span {
    font-size: .7em;
    font-weight: bold;
    cursor: pointer;
    color: var(--fontBlue);
}

.sidebar li {
    list-style: none;
    line-height: 1.5em;
    cursor: pointer;
}

.sidebar li:hover {
    color: var(--fontBlue);
}

.content {
    position: absolute;
    top: var(--header_full_height);
    left: var(--sidebar_full_width);
    width: calc( 100% - var(--sidebar_full_width));
    padding: 1em;
}

@media (max-width:600px) {
    .sidebar {
        width: 0;
        overflow: hidden;
    }
    .content {
        left: 0;
    }
}


/* outline: black solid 1px; */


/* box-shadow: 4px 4px 0 black; */


/*
//  
//  ######## ########  #### ########  #######  ########
//  ##       ##     ##  ##     ##    ##     ## ##     ##
//  ##       ##     ##  ##     ##    ##     ## ##     ##
//  ######   ##     ##  ##     ##    ##     ## ########
//  ##       ##     ##  ##     ##    ##     ## ##   ##
//  ##       ##     ##  ##     ##    ##     ## ##    ##
//  ######## ########  ####    ##     #######  ##     ##
//  
*/

#editor {}

.ck.ck-editor__editable {
    border: none;
    padding: 1px 0 0 0!important;
}

.ck.ck-toolbar {
    background: var(--bg_1)!important;
    padding: 0 var(--ck-spacing-small);
    border: 1px solid rgb(26, 26, 26)!important;
}

.ck.ck-reset_all,
.ck.ck-reset_all * {
    border-collapse: collapse;
    font: normal normal normal var(--ck-font-size-base)/var(--ck-line-height-base) var(--ck-font-face);
    color: var(--font_0)!important;
    text-align: left;
    white-space: nowrap;
    cursor: auto;
    float: none;
}